<div class="card-block">
    <div class="input-group col-md-5 col-xl-4">
        <input type="text" class="form-control search" placeholder="输入ID或标题进行搜索">
        <button type="button" class="btn btn-link btn-sm searchBtn">
            <img src="/images/search.png" class="thumbnail" width="22">
        </button>
    </div>
</div>
<div class="container" id="blogList">
    <div class="row" id="blogListReplace">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>用户</th>
                <th>博客标题</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="managerBlogList : ${pageInfo.list}" th:object="${managerBlogList}">
                <td th:text="*{blogId}"></td>
                <td th:text="*{userNickname}"></td>
                <td>
                    <a th:href="'/blog/'+*{blogId}" th:text="*{blogTitle}"></a>
                </td>
                <td>
                    <button class="delBlog btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delModel" data-th-attr="blogId=*{blogId}">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/page :: page}"></div>
    </div>
</div>
<!-- The modal -->
<div class="modal fade" id="delModel" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger">确定删除此博客</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary modelSubmit" type="button" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/admin/blogList.js}"></script>
