<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog-content-container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <h4>
                    <img src="/images/menu.png" width="25" class="ml-2">
                    <span class="text-primary">菜单</span>
                </h4>
                <div class="btn-group-vertical manager-menu" th:each="menu : ${menus}">
                    <button type="button" class="btn btn-outline-primary" th:text="${menu.item}" th:attr="url=${menu.url}"></button>
                </div>
	        </div>
        </div>

        <div class="col-md-8 col-xl-9">
            <div class="card" id="rightContainer">
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/admin/managerMenu.js}"></script>
<script th:src="@{/js/paginator.js}"></script>

</body>
</html>