<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">上传图书</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">uploadBook</li>
        </ol>
    </div>
    <div class="col-md-6 col-4 align-self-center">
        <a href="/" class="btn pull-right hidden-sm-down btn-success"> Upgrade to Pro</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <form id="bookForm">
                                <div class="form-group" id="bookName">
                                    <label class="col-md-12">书名</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="如：C++Primer第五版" name="name" class="form-control form-control-line" maxlength="32" required="true">
                                    </div>
                                </div>
                                <div class="form-group" id="bookIntroduction">
                                    <label class="col-md-12">简介</label>
                                    <div class="col-md-12">
                                        <textarea rows="4" placeholder="如：&#10;从本书的规模厚度就可以看出这一点C++语言融入了大量优秀的特性其内容的丰富程度已经远非C 语言所能及" class="form-control form-control-line" name="introduction" required="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">目录（选填）</label>
                                    <div class="col-md-12">
                                        <textarea rows="4" placeholder="如：&#10;第一章&#32; 开始&#10;第二章&#32; C++浏览&#10;..." class="form-control form-control-line" id="catalog" name="catalog"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">分类</label>
                                    <div class="col-md-12">
                                        <select class="form-control form-control-line" name="bookTypeId">
                                            <option th:each="bookType : ${bookTypes}" th:value="${bookType.id}" th:selected="${bookType.classNum} == 'T' ? true : false">[[${bookType.classNum}+' '+${bookType.className}]]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info w-100" id="bookSubmit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="bookFile">
                                <label class="col-md-12">图书↓</label>
                                <div class="col-md-12">
                                    <input type="file" id="book" data-height="200" data-max-file-size="200M"/>
                                    <div class="progress my-2">
                                        <div id="bookProgress" class="progress-bar progress-bar-striped" style="width: 0%">0%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="bookCoverFile">
                                <label class="col-md-12">封面↓</label>
                                <div class="col-md-12">
                                    <input type="file" id="bookCover" data-height="200" data-max-file-size="1M"/>
                                    <div class="progress my-2">
                                        <div id="bookCoverProgress" class="progress-bar progress-bar-striped" style="width: 0%">0%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger">恭喜</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <p>上传成功</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary modelSubmit" type="button" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- uploadBook -->
<script src="/js/admin/uploadBook.js"></script>
