<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>じ☆帥東☆じ E-Book</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dongebook.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <!-- 通过 row 在水平方向创建一组 column -->
    <div class="row">
        <!-- 第一列占8格 -->
        <div class="col-md-8" id="blogList">
            <ul class="nav nav-tabs mb-1" id="searchType">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link active" data-th-attr="url='/search/blog'">博客</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-th-attr="url='/search/book'">图书</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-th-attr="url='/search/video'">视频</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-th-attr="url='/search/music'">音频</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-th-attr="url='/search/picture'">图片</a>
                </li>
            </ul>
            <div th:if="${pageInfo.total eq 0}" class="alert alert-warning my-2" role="alert">
                <strong>抱歉!</strong> 没有找到符合的结果
            </div>
            <div class="card mb-1" th:each="blog : ${pageInfo.list}" th:object="${blog.blogDto}">
                <div class="card-block">
                    <a th:href="'/blog/userBlogList?userId='+*{userId}">
                        <img th:src="${blog.userAvatar}" class="img-thumbnail border-0 float-left" width="30px" height="30px">
                    </a>
                    <a th:href="'/blog/'+*{id}" class="decorationNone">
                        <span th:text="*{title}" style="font-size:20px;"></span>
                    </a>
                    <a th:href="'/blog/'+*{id}" class="decorationNone">
                        <h6 class="text-muted" th:text="*{summary}"></h6>
                    </a>
                    <a th:text="${blog.userNickname}" th:href="'/blog/userBlogList?userId='+*{userId}" class="card-link"></a>
                    <span>发表于 </span>
                    <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <img src="/images/eye.png" class="img-thumbnail border-0" width="30" height="30">
                    <span th:text="*{traffic}">0</span>
                    <img src="/images/love.png" class="img-thumbnail border-0" width="30" height="30">
                    <span th:text="*{voteNum}">0</span>
                    <img src="/images/message.png" class="img-thumbnail border-0" width="30" height="30">
                    <span th:text="*{commentNum}">0</span>
                </div>
            </div>
            <div th:replace="~{fragments/page :: page}"></div>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <!-- 热门文章 -->
            <div class="card my-4">
                <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>
                <ul class="list-group">
                    <a data-th-href="'/blog/'+*{id}" class="list-group-item" data-th-each="blog,stat : ${hotBlogs}" data-th-object="${blog}">
                        <span data-th-text="*{title}"></span>
                        <span class="badge badge-pill ml-1 hotNum" data-th-text="*{voteNum}"></span>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/paginator.js}"></script>
<script th:src="@{/js/search/blog.js}"></script>

</body>
</html>