<link href="/css/cropper.min.css" rel="stylesheet">
<link href="/css/imgCropping.css" rel="stylesheet">
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">个人信息</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
    <div class="col-md-6 col-4 align-self-center">
        <a href="#" class="btn pull-right hidden-sm-down btn-success"> Upgrade to Pro</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-block">
                <center class="m-t-30">
                    <a class="avatar-edit img-rounded" data-toggle="modal" data-target="#flipFlop" role="button">
                        <img th:src="${user.avatar} + '?' + ${new java.util.Date().getTime()}" class="img-circle userAvatarImg" width="180" title="点击修改头像"/>
                    </a>
                    <h4 class="card-title m-t-10" th:text="${user.username}"></h4>
                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-block">
                <form th:object="${user}" id="profileForm">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="form-group">
                        <label class="col-md-12">Nickname</label>
                        <div class="col-md-12">
                            <input type="text" th:placeholder="*{nickname}" name="nickname" class="form-control form-control-line" maxlength="10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" th:placeholder="*{email}" class="form-control form-control-line" name="email" id="example-email" maxlength="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Phone No</label>
                        <div class="col-md-12">
                            <input type="text" th:placeholder="*{phoneNumber}" class="form-control form-control-line" name="phoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Sex</label>
                        <div class="form-check col-md-12">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="sex" value="boy" th:checked="*{sex} == 'boy' ? true : false">
                                男
                            </label>
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="sex" value="girl" th:checked="*{sex} == 'girl' ? true : false">
                                女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Birthday</label>
                        <div class="col-md-12">
                            <input type="date" class="form-control form-control-line" name="birthday" th:value="*{#dates.format(birthday, 'yyyy-MM-dd')}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Introduction</label>
                        <div class="col-md-12">
                            <textarea rows="3" class="form-control form-control-line" name="introduction" maxlength="64">[[${user.introduction}]]</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Password</label>
                        <div class="col-md-12">
                            <input type="password" placeholder="old password" class="form-control form-control-line" name="password">
                            <input type="password" placeholder="new password" class="form-control form-control-line mt-2" id="newPassword1">
                            <input type="password" placeholder="again new password" class="form-control form-control-line mt-2" name="newPassword" id="newPassword2">
                            <p id="passwordError" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" id="submit">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<!-- 保存成功modal -->
<div class="modal fade saveSuccess" data-th-attr="afterSave=${afterSave}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title text-success">Well done!</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>保存成功</p>
            </div>
        </div>
    </div>
</div>

<div style="display: none" class="tailoring-container">
    <div class="black-cloth">
    </div>
    <div class="tailoring-content">
        <div class="tailoring-content-one">
            <label for="chooseImg" class="l-btn choose-btn">
                <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden selectImg">
                选择图片
            </label>
            <div class="close-tailoring">×</div>
        </div>
        <div class="tailoring-content-two">
            <div class="tailoring-box-parcel">
                <img id="tailoringImg">
            </div>
            <div class="preview-box-parcel">
                <p>图片预览：</p>
                <div class="square previewImg"></div>
                <div class="circularDong previewImg"></div>
            </div>
        </div>
        <div class="tailoring-content-three">
            <button class="l-btn cropper-reset-btn">复位</button>
            <button class="l-btn cropper-rotate-btn">旋转</button>
            <button class="l-btn cropper-scaleX-btn">换向</button>
            <button class="l-btn sureCut" id="sureCut">确定</button>
        </div>
    </div>
</div>
<!--图片裁剪框 end-->

<script src="/js/cropper.min.js"></script>
<script src="/js/user/profile.js"></script>
<script src="/js/user/avatarEdit.js"></script>