<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer data-th-fragment="footer">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <div class="container">
            <div class="container">
                <p class="text-center text-white mt-3">2019 anthony.cmd</p>
            </div>
        </div>
    </nav>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dongebook.js"></script>
</footer>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!--<script src="../../static/js/jquery.min.js"></script>-->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <!--<script src="../../static/js/bootstrap.min.js"></script>-->
</body>
</html>