<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>じ☆帥東☆じ E-Book</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md" id="headerNav" data-th-fragment="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">じ☆帥東☆じ</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto col-6">
                <div class="form-inline navbar-left mx-4 w-75" id="search">
                    <input type="text" class="form-control border-0 w-75" data-th-value="${query} == null ? '' : ${query}" placeholder="搜索" name="query">
                    <button type="submit" class="btn btn-link btn-sm">
                        <img src="/images/search.png" class="thumbnail" width="22">
                    </button>
                </div>
            </ul>

            <!-- 游客 -->
            <!--<form th:action="@{/login}"  method="post" class="form-inline my-2 my-lg-0 navbar-right" sec:authorize="isAnonymous()">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="账号" name="username" maxlength="40">-->
                    <!--<input type="password" class="form-control" placeholder="密码" name="password" maxlength="30">-->
                <!--</div>-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">登录</button>-->
            <!--</form>-->
            <a href="/login" sec:authorize="isAnonymous()"><button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">登录დ注册</button></a>
            <!--<a th:href="@{/register}" sec:authorize="isAnonymous()">-->
                <!--<button type="button" class="btn btn-outline-info my-2 my-sm-0 ml-1">注册</button>-->
            <!--</a>-->

            <!-- 已登录的用户 -->
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                    <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu">
                    <!--<a class=" dropdown-item" href="/" th:href="@{'/' + ${#authentication.name}}">个人主页</a>-->
                    <a th:href="@{/blog/userBlogList}" class="dropdown-item">博客主页</a>
                    <a th:href="@{/user/personal}" class="dropdown-item">个人中心</a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/logout}" class="dropdown-item text-danger">退出</a>
                </div>
            </div>

            <a th:href="@{/user/blogCreate}" sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-info my-2 my-sm-0 ml-1">写博客</button>
            </a>
            <!-- 管理员 -->
            <a th:href="@{/admin/manager}" sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')">
                <button type="button" class="btn btn-outline-warning my-2 my-sm-0 ml-1">系统管理</button>
            </a>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>