/*.overflowHidden130{*/
    /*width: 130px;*/
    /*overflow: hidden; !*自动隐藏文字*!*/
    /*text-overflow: ellipsis;!*文字隐藏后添加省略号*!*/
    /*white-space: nowrap;!*强制不换行*!*/
/*}*/
/*.overflowHidden200{*/
    /*width: 200px;*/
    /*overflow: hidden; !*自动隐藏文字*!*/
    /*text-overflow: ellipsis;!*文字隐藏后添加省略号*!*/
    /*white-space: nowrap;!*强制不换行*!*/
/*}*/

