<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>じ☆帥東☆じ E-Book</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dongebook.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/mainPage/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/mainPage/player.css" />
    <link rel="Shortcut Icon" href="/images/mainPage/favicon.ico" />
    <script type="text/javascript" src="/js/mainPage/modernizr.js"></script>
    <script>
        if ((!to3d()) || document.documentMode == 10 || document.documentMode == 11){
            window.location="error/error.html";
        }
    </script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<!--头部 开始-->
<div id="header">
    <!--顶部bar 开始-->
    <!--<div class="nav_topbar">-->
        <!--<div class="nav_topbar_cont">-->
            <!--<ul>-->
                <!--<li><a href="#">11111</a></li>-->
                <!--<li><a href="#">22222</a></li>-->
                <!--<li><a href="#">3333</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<a class="user_login">dong</a>-->
    <!--</div>-->
    <div id="headCont">
        <audio id="audioPlayer"></audio>
        <!--二级导航-->
        <nav class="sub_nav">
            <div class="nav_list">
                <ul>
                    <li>
                        <a href="" class="smallogo">
                            <span class="mini_logo"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="home"></a>
                    </li>
                    <div class="sub_list" id="sub_list">
                        <p class="active">
                            <a href="/">Welcome to じ☆帥東☆じ E-Book.</a>
                        </p>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <!--头部导航  结束-->
</div>

<!-- 音乐馆 模块 开始  default-->
<section class="section_cont">
    <!--轮播图 开始 -->
    <div class="main_banner">
        <div class="main_banner_bg"></div>
        <div class="main_banner_wrap">
            <div class="main_banner_box" id="m_box">
                <a href="javascript:void(0)" class="banner_btn js_pre">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <a href="javascript:void(0)" class="banner_btn btn_next js_next">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <ul>
                    <li data-th-each="video,stat : ${videos}" data-th-id="'imgCard'+${stat.index}" data-th-object="${video}">
                        <a data-th-href="'/user/videoPlay/'+*{id}" target="_blank"><span style="opacity:0;"></span></a>
                        <img data-th-src="*{coverUrl}">
                        <p style="bottom:0" data-th-text="*{title}"></p>
                    </li>
                </ul>
                <!--火狐倒影图层-->
                <p id="rflt"></p>
                <!--火狐倒影图层-->
            </div>
            <!--序列号按钮-->
            <div class="btn_list">
                <span class="cur"></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <!--轮播图 结束 -->

    <!-- 图书 -->
    <div class="omnibus hot_singer">
        <div class="omnibus_cont_100 new_common_100">
            <div class="omnibus_title new_common_title">
                <span>推荐图书</span>
                <a href="" class="more"></a>
            </div>
            <ul id="omnibus_list">
                <li class="post_big" data-th-each="book,stat : ${bigBooks}" data-th-object="${book}">
                    <a data-th-href="*{fileUrl}" target="_blank">
                        <img data-th-src="*{coverUrl}" width="280" height="335">
                        <i></i>
                    </a>
                    <a data-th-href="*{fileUrl}" target="_blank" data-th-text="*{name}"></a>
                </li>
                <li class="post_small" data-th-each="book,stat : ${smallBooks}" data-th-object="${book}">
                    <a data-th-href="*{fileUrl}" target="_blank">
                        <img data-th-src="*{coverUrl}" width="125" height="155">
                        <span></span>
                    </a>
                    <a data-th-href="*{fileUrl}" target="_blank" data-th-text="*{name}"></a>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>

    <!-- 博客 -->
    <div class="omnibus">
        <div class="omnibus_cont_100 new_common_blog">
            <div class="omnibus_title new_common_title">
                <span>推荐博客</span>
                <a href="" class="more"></a>
            </div>
            <ul id="omnibus_list">
                <div class="card my-md-2 bgTransparent" data-th-each="blogDto : *{blogList}">
                    <div class="card-block" data-th-object="${blogDto}">
                        <a data-th-href="'/blog/'+*{id}" target="_blank" class="changeRed">
                            <span th:text="*{title}" style="font-size:25px;"></span>
                        </a>
                        <a data-th-href="'/blog/'+*{id}" target="_blank" class="changeRed">
                            <h6 class="text-muted" data-th-text="*{summary}"></h6>
                        </a>
                        <span class="text-muted" data-th-text="'发表于'+*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <img src="images/eye.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
                        <span class="text-primary" data-th-text="*{traffic}"></span>
                        <img src="images/love.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
                        <span class="text-primary" data-th-text="*{voteNum}"></span>
                        <img src="images/message.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
                        <span class="text-primary" data-th-text="*{commentNum}"></span>
                    </div>
                </div>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>

    <!-- 音乐 -->
    <div class="new_mv new_common">
        <div class="new_mv_title new_common_title index_mv_title">
            <span>推荐音乐</span>
            <a href="#" class="more"></a>
            <ul>
                <li><a class="cur" href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
            </ul>
        </div>
        <div class="new_mv_body index_mv_body">
            <div class="mvList" id="mv_rank_list" style="display:block;">
                <ul class="sb" id="main">
                    <li data-th-each="music,stat : ${firstPageMusic}" data-th-object="${music}">
                        <a href="javascript:;" class="playIcon" data-th-attr="fileUrl=*{fileUrl}">
                            <img width="220" height="125" data-th-src="*{coverUrl}" class="attachment-220x125 wp-post-image"/>
                            <strong data-th-text="*{singer}"></strong>
                            <span>
                                 <font data-th-text="*{name}">在你耳边说 &#8211; 周兴哲</font>
                                 <font><i></i></font>
                                 <!--<font><i></i>10<em>2</em></font>-->
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--2spirit-->
            <div class="mvList">
                <ul id="spirit">
                    <li data-th-each="music,stat : ${secondPageMusic}" data-th-object="${music}">
                        <a href="javascript:;" class="playIcon" data-th-attr="fileUrl=*{fileUrl}">
                            <img width="220" height="125" data-th-src="*{coverUrl}" class="attachment-220x125 wp-post-image"/>
                            <strong data-th-text="*{singer}"></strong>
                            <span>
                                <font data-th-text="*{name}">M19+20 &#8211; 梶浦由記</font>
                                <font><i></i></font>
                                <!--<font><i></i>12<em>6</em></font>-->
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--3magic-->
            <div class="mvList">
                <ul id="magic">
                    <li data-th-each="music,stat : ${thirdPageMusic}" data-th-object="${music}">
                        <a href="javascript:;" class="playIcon" data-th-attr="fileUrl=*{fileUrl}">
                            <img width="220" height="125" data-th-src="*{coverUrl}" class="attachment-220x125 wp-post-image" alt="" />
                            <strong data-th-text="*{singer}">川井憲次</strong>
                            <span>
                                <font data-th-text="*{name}">群雄疾走 &#8211; 川井憲次</font>
                                <font><i></i></font>
                                <!--<font><i></i>100<em>2</em></font>-->
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="songs_rcmd_title">
        <div class="rcmd_left_title rcmd_title">
            <span>流行</span>
            <a href="" class="more">/more</a>
        </div>
        <div class="rcmd_center_title rcmd_title">
            <span>英文</span>
            <a href="" class="more">/more</a>
        </div>
        <div class="rcmd_right_title rcmd_title">
            <span>抖音</span>
            <a href="" class="more">/more</a>
        </div>
    </div>

    <div class="songs_rcmd" id="songs_rcmd">
        <div class="songs_rcmd_cont">
            <ul class="rcmd_left rcmd_cont" id="popularMusic">
                <li data-th-each="music,stat : ${popularMusic}" data-th-object="${music}">
                    <a href="javascript:;" class="musicName" data-th-text="*{name +' - '+ singer}"></a>
                    <a class="shareIcon" data-th-attr="url=*{fileUrl}" target="_blank" download=""></a>
                    <a class="playIcon" href="javascript:;" data-th-attr="fileUrl=*{fileUrl},coverUrl=*{coverUrl},name=*{name},singer=*{singer}"></a>
                </li>
            </ul>
            <ul class="rcmd_center rcmd_cont" id="englishMusic">
                <li data-th-each="music,stat : ${englishMusic}" data-th-object="${music}">
                    <a href="javascript:;" class="musicName" data-th-text="*{name +' - '+ singer}"></a>
                    <a class="shareIcon" data-th-attr="url=*{fileUrl}" target="_blank" download=""></a>
                    <a class="playIcon" href="javascript:;" data-th-attr="fileUrl=*{fileUrl},coverUrl=*{coverUrl},name=*{name},singer=*{singer}"></a>
                </li>
            </ul>
            <ul class="rcmd_right rcmd_cont" id="douyinMusic">
                <li data-th-each="music,stat : ${douyinMusic}" data-th-object="${music}">
                    <a href="javascript:;" class="musicName" data-th-text="*{name +' - '+ singer}"></a>
                    <a class="shareIcon" data-th-attr="url=*{fileUrl}" target="_blank" download=""></a>
                    <a class="playIcon" href="javascript:;" data-th-attr="fileUrl=*{fileUrl},coverUrl=*{coverUrl},name=*{name},singer=*{singer}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="omnibus hot_singer">
        <div class="omnibus_cont new_common">
            <div class="omnibus_title new_common_title">
                <span>推荐图片</span>
                <a href="" class="more"></a>
            </div>
            <ul id="omnibus_list">
                <li class="post_big" data-th-each="picture,stat : ${bigPicture}" data-th-object="${picture}">
                    <a data-th-href="*{fileUrl}" target="_blank">
                        <img data-th-src="*{fileUrl}" width="305" height="290">
                        <i></i>
                    </a>
                    <a data-th-href="*{fileUrl}" target="_blank" data-th-text="*{title}"></a>
                </li>
                <li class="post_small" data-th-each="picture,stat : ${smallPicture}" data-th-object="${picture}">
                    <a data-th-href="*{fileUrl}" target="_blank">
                        <img data-th-src="*{fileUrl}" target="_blank" width="130" height="130">
                        <span></span>
                    </a>
                    <a data-th-href="*{fileUrl}" target="_blank" data-th-text="*{title}"></a>
                </li>
            </ul>
        </div>
        <div class="hot_singer_cont new_common">
            <div class="hot_singer_title new_common_title">
                <span>图片</span>
                <a href="" class="more"></a>
            </div>
            <ul class="singer_list">
                <li data-th-each="picture,stat : ${circlePicture}" data-th-object="${picture}">
                    <a data-th-href="*{fileUrl}" target="_blank" class="singerPhoto">
                        <img data-th-src="*{fileUrl}" width="70" height="70"></a>
                    <a data-th-href="*{fileUrl}" target="_blank" class="singer" data-th-text="*{title}"></a>
                </li>
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
</section>

<!-- 左侧播放器 开始-->
<div id="jp_container_N" class="jp-video jp-video-270p" role="application" aria-label="media player">
    <div class="jp-type-playlist">
        <div id="jquery_jplayer_N"class="jp-jplayer"></div>
        <div class="jp-gui">
            <div class="jp-video-play">
                <button class="jp-video-play-icon" role="button" tabindex="0">播放</button>
            </div>
            <div class="jp-interface">
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-current-time" role="timer" aria-label="time"></div>
                <div class="jp-duration" role="timer" aria-label="duration"></div>
                <div class="jp-controls-holder">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">上一曲</button>
                        <button class="jp-play" role="button" tabindex="0">播放</button>
                        <button class="jp-next" role="button" tabindex="0">下一曲</button>
                        <button class="jp-stop" role="button" tabindex="0">暂停</button>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">静音</button>
                        <button class="jp-volume-max" role="button" tabindex="0">最大音量</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-toggles">
                        <button class="jp-repeat" role="button" tabindex="0">重复</button>
                        <button class="jp-shuffle" role="button" tabindex="0">随机</button>
                        <!--<button class="jp-full-screen" role="button" tabindex="0">全屏</button>-->
                    </div>
                </div>
                <div class="jp-details">
                    <div class="jp-title" aria-label="title"></div>
                </div>
            </div>
        </div>
        <div class="jp-playlist">
            <div class="jp-playlist-box">
                <ul>
                    <!-- 该方法使用无序列表displayplaylist()播放列表 -->
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="jp-no-solution">
            <span>升级需要</span>
            您浏览器赞不支持播放，请更新版本
            <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash插件</a>.
        </div>
    </div>
    <!--歌曲列表滚动条-->
    <div class="scrollBar">
        <div class="bar"></div>
    </div>
    <!--播放器展开隐藏按钮-->
    <button type="button" class="folded_bt" title="点击收缩" id="btnfold">
        <span></span>
    </button>
    <div id="listRemove"></div><!--移除全部歌曲按钮-->
    <div id="listClose"></div><!--歌曲列表展开收缩按钮-->
</div>
<!-- 左侧播放器 结束-->

<!--底部 开始 -->
<div class="footer" id="footer">
    <div class="footer_cont">
        <div class="footer_cont_left">
            <p>
                <a href="">About me</a>|<a href="">History</a>|<a href="">Cartoon</a>|
                <a href="">Ad service</a>|<a href="">Movie link</a>|<a href="">Help</a>
            </p>
            <p>
                Copyright © Youka  All Rights Reserved
            </p>
        </div>
        <div class="footer_cont_right">
            <span>Other Links</span>
            <ul>
                <li><a href=""><span></span></a></li>
                <li><a href=""><span></span></a></li>
                <li>
                    <a href="" class="twoCode">
                        <span></span>
                        <!--<img class="tCode" src="/images/mainPage/1517791716.png" width="100" height="100" alt="二维码" />-->
                    </a>
                </li>
                <li><a href=""><span></span></a></li>
                <li><a href=""><span></span></a></li>
            </ul>
        </div>
        <div id="toTop"></div>
    </div>

</div>
<!--底部 结束 -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
<script src="/js/jquery-3.3.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->

<script type="text/javascript" src="/js/mainPage/jquery.js"></script>
<script type="text/javascript" src="/js/mainPage/index.js"></script>
<!--播放器js-->
<script type="text/javascript" src="/js/mainPage/player.js"></script>
<script type="text/javascript" src="/js/mainPage/playlist.js"></script>
<script type="text/javascript" src="/js/mainPage/player_database.js"></script>
<!--播放器js-->
<!-- 底部模板调用 结束 -->

<script src="/js/dongebook.js"></script>

</body>
</html>