<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>じ☆帥東☆じ E-Book</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dongebook.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md" data-th-fragment="header">
    <div class="container">
        <a class="navbar-brand" href="/">じ☆帥東☆じ</a>

        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav col-md-6">
                <li>
                    <div class="form-inline navbar-left my-1" id="search">
                        <input type="text" class="form-control border-0 w-75" data-th-value="${query} == null ? '' : ${query}" placeholder="搜索" name="query">
                        <button type="submit" class="btn btn-link btn-sm">
                            <img src="/images/search.png" class="thumbnail" width="22">
                        </button>
                    </div>
                </li>
                <li>
                    <div class="my-1">
                        <a class="my-1" href="/login" sec:authorize="isAnonymous()">
                            <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">登录დ注册</button>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="dropdown my-1" sec:authorize="isAuthenticated()">
                        <button class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                            <span sec:authentication="name"></span>
                        </button>
                        <div class="dropdown-menu">
                            <!--<a class=" dropdown-item" href="/" th:href="@{'/' + ${#authentication.name}}">个人主页</a>-->
                            <a th:href="@{/blog/userBlogList}" class="dropdown-item">博客主页</a>
                            <a th:href="@{/user/personal}" class="dropdown-item">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a th:href="@{/logout}" class="dropdown-item text-danger">退出</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="my-1">
                        <a th:href="@{/user/blogCreate}" sec:authorize="isAuthenticated()">
                            <button class="btn btn-outline-info">写博客</button>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="my-1">
                        <a th:href="@{/admin/manager}" sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')">
                            <button type="button" class="btn btn-outline-warning">系统管理</button>
                        </a>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- 图书 -->
<div class="alert alert-success" align="center">
    <strong>图书推荐</strong>
</div>
<div class="row">
    <div class="col-md-3 mb-1" th:each="book : ${books}" th:object="${book}">
        <div class="card" align="center">
            <a data-th-href="*{fileUrl}" target="_blank"><img class="card-img-top" data-th-src="*{coverUrl}" width="200px" height="250px"></a>
            <div class="card-block">
                <a data-th-href="*{fileUrl}" target="_blank" class="decorationNone"><p class="card-text" data-th-text="*{name}"></p></a>
            </div>
        </div>
    </div>
</div>

<!-- 博客 -->
<div class="alert alert-info mt-1" align="center">
    <strong>博客推荐</strong>
</div>
<div class="row mx-md-2">
    <div class="card my-md-2 bgTransparent" data-th-each="blogDto : *{blogList}">
        <div class="card-block" data-th-object="${blogDto}">
            <a data-th-href="'/blog/'+*{id}" target="_blank" class="changeRed">
                <span th:text="*{title}" style="font-size:25px;"></span>
            </a>
            <a data-th-href="'/blog/'+*{id}" target="_blank" class="changeRed">
                <h6 class="text-muted" data-th-text="*{summary}"></h6>
            </a>
            <span class="text-muted" data-th-text="'发表于'+*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
            <img src="images/eye.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
            <span class="text-primary" data-th-text="*{traffic}"></span>
            <img src="images/love.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
            <span class="text-primary" data-th-text="*{voteNum}"></span>
            <img src="images/message.png" class="img-thumbnail border-0 bgTransparent" width="30" height="30">
            <span class="text-primary" data-th-text="*{commentNum}"></span>
        </div>
    </div>
</div>

<!-- 视频 -->
<div class="alert alert-warning" align="center">
    <strong>视频推荐</strong>
</div>
<div class="row">
    <div class="col-md-3" th:each="video : ${videos}" th:object="${video}">
        <div class="card mb-2" align="center" style="height:330px;">
            <a data-th-href="*{fileUrl}" target="_blank"><img class="card-img-top" data-th-src="*{coverUrl}" width="200px" height="250px"></a>
            <div class="card-block">
                <a data-th-href="*{fileUrl}" target="_blank"><span class="card-text text-muted" data-th-text="*{title}"></span></a>
            </div>
        </div>
    </div>
</div>

<!-- 音乐 -->
<div class="alert alert-danger" align="center">
    <strong>音乐推荐</strong>
</div>
<div class="row">
    <div class="col-md-3" th:each="music : ${musics}" th:object="${music}">
        <div class="card mb-2" align="center" style="height:340px;">
            <a data-th-href="*{fileUrl}" target="_blank"><img class="card-img-top" data-th-src="*{coverUrl}" width="200px" height="250px"></a>
            <div class="card-block">
                <a data-th-href="*{fileUrl}" target="_blank" class="decorationNone"><p class="card-title" data-th-text="*{name}"></p></a>
                <span class="card-text text-muted" data-th-text="'歌手：'+*{singer}"></span>
            </div>
        </div>
    </div>
</div>

<!-- 图片 -->
<div class="alert alert-success" align="center">
    <strong>图片推荐</strong>
</div>
<div class="row mx-2">
    <div class="col-md-3" th:each="picture : ${pictures}" th:object="${picture}">
        <div class="card mb-2" align="center" style="height:322px;">
            <a data-th-href="*{fileUrl}" target="_blank"><img class="card-img-top" data-th-src="*{fileUrl}" width="250px" height="320px"></a>
        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/personal/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/dongebook.js"></script>
</body>
</html>